<div class="px-3 pt-4">
    <div class="header">Reminders</div>
    <div class="scrollable">

        <div *ngFor="let item of items | sortReminder">
            <hr class="mr-2">

            <div class="d-flex item-box">
                <div class="align-self-center mr-3" (click)="isComplete(item)">
                    <svg id="checkbox" width="24" height="24" viewBox="0 0 24 24" *ngIf="!item.isCompleted">
                        <path
                            d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z" />
                    </svg>
                    <svg id="checkbox" width="24" height="24" viewBox="0 0 24 24" *ngIf="item.isCompleted">
                        <path
                            d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z" />
                    </svg>
                </div>
                <div class="mr-2 flex-grow-1">
                    <div class="font-weight-bold" [ngClass]="{'text-crossed': item.isCompleted}">
                        {{ item.title }}
                    </div>
                    <div class="text-break" [ngClass]="{'text-crossed': item.isCompleted}">
                        {{ item.description }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="item-time" [innerHTML]="item.remindAt | checkExpiry"></div>
                        <!-- <div class="item-time"> Created on {{ item.created | date :'d MMM y, h:mm a' }} </div> -->
                    </div>
                </div>
                <div class="align-self-center mr-3 item-delete">
                    <div class="d-flex flex-column">
                        <div (click)="edit(item)" ngbPopover="Edit" triggers="mouseenter:mouseleave" placement="left">
                            <svg width="24" height="24" viewBox="0 0 24 24" class="item-edit">
                                <path
                                    d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                            </svg>
                        </div>
                        <div (click)="delete(item)" ngbPopover="Delete" triggers="mouseenter:mouseleave"
                            placement="left">
                            <svg width="24" height="24" viewBox="0 0 24 24" class="item-edit">
                                <path
                                    d="M9,3V4H4V6H5V19C5,20.1 5.9,21 7,21H17C18.1,21 19,20.1 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mr-2">
        <div *ngIf="items.length == 0" class="text-center no-item-text mb-3">No reminder</div>
    </div>
</div>