<div class="wrapper vh-100">
    <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
            <div class="text-center logo p-2 mb-2">
                ToDo.
            </div>
        </div>
        <div class="flex-fill">
            <hr class="my-0 mx-2 py-0">
            <div class="d-flex justify-content-between px-3 py-2 header-item" routerLink='home'>
                <div class="header">Home</div>
            </div>
            <hr class="my-0 mx-2 py-0">
            <div class="d-flex justify-content-between px-3 py-2">
                <div class="header">Lists</div>
                <div class="align-self-center">
                    <svg id="edit-pen" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                    </svg>
                </div>
            </div>
            <div class="align-self-stretch">
                <div *ngFor="let list of lists" class="py-2 w-100 d-flex list-item"
                    [routerLink]="['list', list.listName]" (click)="changeList(list)"
                    [ngClass]="{'list-item-active': activeList == list.listName}">
                    <img src="../../../assets/icons/folder-outline.svg" class="folder ml-4 mr-2">
                    <a class="align-self-center flex-grow-1 text-break mr-2"> {{ list.listName }} </a>
                    <div class="mr-3 list-item-count px-1 rounded align-self-center"> {{ list.itemCount }} </div>
                </div>
            </div>
        </div>
        <hr class="my-0 mx-2 py-0">
        <div class="text-center font-weight-bold py-2 logout" (click)="logout()">
            Logout
        </div>
    </div>
</div>