@import '../../../variables';

.logo {
    font-size: 40px;
    font-weight: 900;
    color: $gray-800;
}

.header {
    font-size: 20px;
    font-weight: 600;
}

#edit-icon {
    width: 20px;
    fill: $gray-500;

    &:hover {
        cursor: pointer;
        fill: $gray-800;
    }
}

.folder {
    width: 18px;
}

.header-item:hover {
    cursor: pointer;
    color: $gray-600;
}

.list-item:hover {
    cursor: pointer;
    background: $gray-100;
}

.list-item-active {
    background: $gray-300;
}

.list-item-count {
    color: $gray-200;
    background: $gray-400;
}

.logout {
    cursor: pointer;
}

.customButton {
    font-size: 12px;
    padding: 5px;
}

.item-add {
    color: $primary;
    cursor: pointer;

    &:hover {
        color: $gray-600;
    }
}

div.input-group-text.custom-check {
    cursor: pointer;

    &:hover i {
        color: $success;
    }
}

.edit-container {
    svg {
        z-index: 5;
    }
}